

body {
background-color: #dccb84;
font-family:'Raleway', sans-serif;
}

h1 {
	font-family:'Sirin Stencil', cursive;
	font-weight: 700;
	color: #696969;
}

.header {
	background: #eae1b8;
	position: absolute;
	border-bottom: 2px;
	height: 60px;
	width: 100%;
	text-align: center;
	font-size: xx-large;
	font-weight: bolder;
}

#header-content {
	font-size: medium;
	margin-left: 10px;
	margin-top: 8px;
	color: blue;
	text-decoration: none;
}

#header-content a {
	color: #25d09f;
	text-decoration: none;
}

#header-content a:hover {
	text-decoration: none;
	color: #38dcad;
}
	/* #27d8a5; */

	/* #ee5309; */



label {
	display: block;
	color: green;
}

input {
	font: inherit;
	margin-top: 25px;
	padding-left: 85px;
	color: #25d09f;
}


#food-list li {
	border: 1px solid #25d09f;
	border-radius: 4px;
	width: 80%;
	background: #696969;
	font-weight: bolder;
	text-align: center;
}

#food-list li:hover {
	color: white;

}
#food-list a {
	position: relative;
	text-decoration: none;
	color: red;
}




/* form ul li {
	margin-left: 80px;
} */

.shopping-menu {
	height: 100px;
	position: absolute;
	margin-left: 10px;
	margin-top: 60px;

}
/*
.shopping-menu ul li {
	list-style: none;
	text-decoration: none;
	display: inline;
	padding: 30px;
	color: #545454;
} */ 


/*Vegetarian */
.shopping-menu ul li:first-child {
	color: #57A639;
	font-weight: bolder;
}
/* Dairy */
.shopping-menu ul li:nth-child(2) {
	color: #44B4D5;
	font-weight: bolder;
}
/* Meat */
.shopping-menu ul li:nth-child(3) {
	color: #ff4848;
	font-weight: bolder;
}
/* Seafood */
.shopping-menu ul li:nth-child(4) {
	color: #892EE4;
	font-weight: bolder;
}
/* Fruits */
.shopping-menu ul li:nth-child(5) {
	color: #ee5309;
	font-weight: bolder;
}
	 /*#db8e00;
	font-weight: bolder;
}
*/

.shopping-menu ul li:nth-child(6) {
	color: #25d09f;
	font-weight: bolder;
}

.item-entry {
padding-top: 300px;
}

/* 
#instructions {
	position: absolute;
	margin-top: 80px;
	margin-left: 220px;
	color: #696969;
} 
*/

/* textarea */ 
form {
	padding: 0;
	margin: 0;
	width: 500px;
	margin-left: 375px;
	margin-top: 0px;
}


.delete {
float: right;
margin-top: 20px;


}
#add-veg li {
	background: #57A639;
	/*border: px solid black */
	width: 500px;
	height: 20px;
	margin-left: 375px;
	margin-top: 30px;
}

#add-dairy li {
	background: #44B4D5;
	/*border: px solid black */
	width: 500px;
	height: 20px;
	margin-left: 375px;
}

#add-meat li {
	background: #ff4848;
	/*border: px solid black */
	width: 500px;
	height: 20px;
	margin-left: 375px;

}

#add-seafood li {
	background: #892EE4;
	/*border: px solid black */
	width: 500px;
	height: 20px;
	margin-left: 375px;
}

#add-fruits li {
	background: #f59e00;
	/*border: px solid black */
	width: 500px;
	height: 20px;
	margin-left: 375px;
}

#add-drinks li {
	background: #25d09f;
	/*border: px solid black */
	width: 500px;
	height: 20px;
	margin-left: 375px;
}

footer {
	background: #333333;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px
}

footer ul li {
	list-style: none;
	display: inline;
	color: #25d09f;
	padding-bottom: 0px;
	text-align: center;
	font: #fff;
}

#thinkful a {
	color: #ee5309;
	text-decoration: none;
}

i {
color: #25d09f;
display: inline-block;
cursor: pointer;
line-height: 5em;
font-size: x-large;
padding: 8px;
}

.fa-lg {
	color: inherit;
} 
